<spark-ui-card>
  <spark-ui-card-header>
    <div class="text-center text-xl border border-gray-300 dark:border-gray-400 bg-gray-50 dark:bg-gray-600 rounded py-1">Alfred</div>
  </spark-ui-card-header>
  <spark-ui-card-body>
    <div>
      <img
        class="w-full h-auto rounded-lg border border-gray-300 dark:border-gray-500 shadow-xl"
        src="assets/character-image-placeholder.jpg"
        alt="character icon"
      >
    </div>
  </spark-ui-card-body>

  <spark-ui-card-footer>
    <div class="mb-2">
      <div class="text-center border border-gray-300 dark:border-gray-500 bg-gray-50 dark:bg-gray-600 rounded py-1">Warrior</div>
    </div>

    <div>
      <div class="text-center border border-gray-300 dark:border-gray-500 bg-gray-50 dark:bg-gray-600 rounded py-1">Human</div>
    </div>
  </spark-ui-card-footer>
</spark-ui-card>
