<form [formGroup]="form" #NgForm="ngForm">
  <app-form-group
    formControlName="name"
    [isSubmitted]="NgForm.submitted"
    type="text"
    placeholder="e.g. Olaf"
    label="Name">
  </app-form-group>

  <app-form-group
    formControlName="biography"
    [isSubmitted]="NgForm.submitted"
    inputType="textarea"
    placeholder="Once uppon a time..."
    label="Biography">
  </app-form-group>

  <app-form-group
    formControlName="icon"
    [isSubmitted]="NgForm.submitted"
    type="text"
    placeholder="e.g. https://some.domain/icon.png"
    label="Icon URL">
  </app-form-group>

  <app-radio-group
    formControlName="race"
    [isSubmitted]="NgForm.submitted"
    label="Race"
    [options]="raceOptions">
  </app-radio-group>

  <app-radio-group
    formControlName="class"
    [isSubmitted]="NgForm.submitted"
    label="Class"
    [options]="classOptions">
  </app-radio-group>
</form>
