<div class="p-5">
  <div class="text-right mb-5">
    <a routerLink="/characters/create" appBtn color="orange" size="sm">+ Character</a>
  </div>

  <div class="flex -mt-5 -ml-5 flex-wrap">
    <ng-container *ngFor="let character of characterDataService.entities() | keyvalue">
      <div class="char-grid-item ml-5 mt-5">
        <a [routerLink]="'/characters/edit/' + character.value.id" class="bg-gray-600 bg-opacity-20 inline-block hover:bg-gray-500 hover:bg-opacity-30">
          <div class="border border-gray-600 w-full p-5 rounded shadow-md">
            <div class="w-full relative shadow-md">
              <img [src]="character.value.icon" alt="Character icon" class="w-full rounded">
              <div class="absolute bottom-0 left-0 right-0 bg-orange-700 bg-opacity-40 p-2 border border-amber-600 rounded">
                <p class="text-center text-amber-200">{{character.value.name}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>
