<div class="mb-6">
  <h1 class="text-2xl uppercase">Characters</h1>
  <h2 class="text-md text-gray-600 dark:text-gray-200">
    Here you can see all available characters
  </h2>
</div>

<div class="flex flex-wrap -mt-3 -ml-3">
  <app-character-card class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3" />
  <app-character-card class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3" />
  <app-character-card class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3" />
  <app-character-card class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3" />
</div>
