<div class="flex flex-wrap -mt-3 -ml-3">
  <div class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3">
    <app-character-card />
  </div>
  <div class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3">
    <app-character-card />
  </div>
  <div class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3">
    <app-character-card />
  </div>
  <div class="w-full md:w-[calc(50%-12px)] lg:w-[calc(33.3%-12px)] ml-3 mt-3">
    <app-character-card />
  </div>
</div>
