.char-grid-item {
  width: calc(20% - 1.25rem);

  @media screen and (max-width: 992px) {
    width: calc(25% - 1.25rem);
  }

  @media screen and (max-width: 768px) {
    width: calc(33% - 1.25rem);
  }

  @media screen and (max-width: 562px) {
    width: calc(50% - 1.25rem);
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 1.25rem);
  }
}
