<form [formGroup]="form" #NgForm="ngForm">
  <div class="flex justify-between flex-wrap items-center -ml-4">
    <ng-container *ngFor="let stat of statsList">
      <div class="w-1/2 pl-4">
        <app-form-group
          [formControlName]="stat"
          [isSubmitted]="NgForm.submitted"
          type="range"
          placeholder="0"
          min="0"
          max="10"
          [label]="stat + ' : ' + form.get(stat).value">
        </app-form-group>
      </div>
    </ng-container>
  </div>
</form>
