<router-outlet></router-outlet>

<button sparkUiBtn size="xs">Btn</button>
<button sparkUiBtn size="sm">Btn</button>
<button sparkUiBtn size="md">Btn</button>
<button sparkUiBtn size="lg">Btn</button>
<button sparkUiBtn size="xl">Btn</button>

<button sparkUiBtn withMode="full" size="xs">Btn</button>
<button sparkUiBtn withMode="full" size="sm">Btn</button>
<button sparkUiBtn withMode="full" size="md">Btn</button>
<button sparkUiBtn withMode="full" size="lg">Btn</button>
<button sparkUiBtn withMode="full" size="xl">Btn</button>
