<header>
  <nav class="flex justify-between items-center">
    <ul class="flex justify-between items-center">
      <ng-container *ngFor="let link of linksMeta['mainNav']">
        <ng-container *ngTemplateOutlet="linkElement; context: {$implicit: link}"></ng-container>
      </ng-container>
    </ul>

    <ul class="flex justify-between items-center">
      <ng-container *ngFor="let link of linksMeta['authSection']">
        <ng-container *ngTemplateOutlet="linkElement; context: {$implicit: link}"></ng-container>
      </ng-container>
    </ul>
  </nav>
</header>

<ng-template #linkElement let-link>
  <li class="me-3 last:me-0">
    <a [routerLink]="link.url">{{link.label}}</a>
  </li>
</ng-template>
