<div class="w-3/4 mx-auto border-gray-600 border rounded p-5">
  <div class="flex justify-between">
    <p class="uppercase">{{(isEditMode ? 'Edit' : 'Create') + ' character'}}</p>
  </div>

  <div class="py-2">
    <div class="mb-4 p-3 border border-gray-600 rounded">
      <ng-container *ngTemplateOutlet="tabBtn; context: {$implicit: tabs.GENERAL}"></ng-container>
      <ng-container *ngTemplateOutlet="tabBtn; context: {$implicit: tabs.STATS}"></ng-container>
    </div>

    <div class="p-3 border border-gray-600 rounded">
      <ng-container [ngSwitch]="currentTab">
        <ng-container *ngSwitchCase="tabs.GENERAL">
          <app-general-form></app-general-form>
        </ng-container>

        <ng-container *ngSwitchCase="tabs.STATS">
          <app-stats-form></app-stats-form>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="flex justify-end">
    <ng-container *ngIf="isEditMode">
      <button (click)="delete(id)" class="mr-2" appBtn color="red">Delete</button>
    </ng-container>

    <button (click)="onSubmit(form, isEditMode, id)" appBtn color="orange">Save</button>
  </div>
</div>

<ng-template #tabBtn let-tab>
  <button
    class="mr-2 capitalize"
    (click)="setTab(tab)"
    appBtn
    [color]="currentTab === tab ? 'orange' : 'yellow'"
    [textColor]="currentTab === tab ? 'white' : 'black'"
    size="sm">
      {{tab}}
  </button>
</ng-template>
