<div class="w-full md:w-1/2 mx-auto">
  <spark-ui-card>
    <spark-ui-card-header>
      <h1 class="text-center text-xl border border-orange-200 dark:border-gray-400 bg-gray-50 dark:bg-gray-700 rounded py-2 px-3">
        Fred
      </h1>
    </spark-ui-card-header>
    <spark-ui-card-body>
      <div>
        <img
          class="w-full h-auto rounded-lg border border-gray-300 dark:border-gray-500 shadow-xl"
          ngSrc="player-characters/Fred.jpg"
          alt="Character icon"
          width="1200"
          height="656"
          priority=""
        />
      </div>
    </spark-ui-card-body>

    <spark-ui-card-footer>
      <h2 class="border border-orange-200 dark:border-gray-400 bg-gray-50 dark:bg-gray-600 rounded py-2 px-3">
        Some character description
      </h2>
    </spark-ui-card-footer>
  </spark-ui-card>
</div>
