<div class="mb-1">
  <div
    class="mb-0.5 block"
    [class.required]="errorsMap['required']">
      {{ label }}
  </div>

  <div>
    <div class="border border-gray-600 rounded p-2">
      <div class="-mt-2">
        <ng-container *ngFor="let option of options">
          <button
            class="mr-2 last:mr-0 mt-2"
            (click)="onSelect(option)"
            appBtn
            [color]="selectedOption === option.value ? 'orange' : 'amber'"
            [textColor]="selectedOption === option.value ? 'white' : 'black'"
            size="sm">{{ option.name }}
          </button>
        </ng-container>
      </div>
    </div>

    <div>
      <app-form-field-error
        [isSubmitted]="isSubmitted"
        [errors]="control.errors"
        [errorsMap]="errorsMap">
      </app-form-field-error>
    </div>
  </div>
</div>
